//Font
$font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

//Colors
$default-background: #efefef;
$default-blue: #36B1BF;
$dark-blue: #183152;
$med-blue: #375D81;
$white: #fff;
$red: #8A0917;